<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{instance.name}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <h3>Participantes</h3>


  <ion-list *ngFor='let user of instance.users; let i = index '>
    <ion-list-header>
      <ion-badge item-start>{{instance.users[i].name}}</ion-badge>
    </ion-list-header>
    <ion-item>
      <ion-range [(ngModel)]="weights[i]" (ionChange)="change(i)" min="0" max="10">
        <ion-label range-left> {{weights[i]}}0% </ion-label>
        <ion-badge range-right>{{proportion[i]}}</ion-badge>
      </ion-range>
    </ion-item>
  </ion-list>

<!--     <ion-item *ngFor='let user of instance.users; let i = index '>

      <ion-label>{{user.name}} - {{user.contributed}}</ion-label>
      <ion-range (ionChange)="change(i)" [(ngModel)]="weights[i]" min="0" max="10">
        <ion-label range-left> {{weights[i]}}0% </ion-label>
        <ion-label range-right> {{proportion[i]}} </ion-label>
      </ion-range>
    </ion-item> -->
    

  <button (click)="dale()">
    Dale
  </button>

</ion-content>
